langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-google-genai
langgraph

fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

httpx
requests
pyyaml
tenacity

sqlalchemy
psycopg[binary]>=3.1.8,<4
aiosqlite

pytest
pytest-asyncio

alembic
PyJWT
bcrypt
email-validator
